.slide-down{
    animation: slide-down 1.5s;
}

@keyframes slide-down{
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
